* {
    font-family: 'Arial';
    color: rgb(0, 0, 29);
}

.header {
    height: 4em;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 5em;
}

.logo {
    flex-grow: 1;
}

button:hover {
    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
}

.content > div {
    flex: 1;
    margin: 0 5em;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 5em;
}

@media (max-width: 900px) {
    h1 {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1em;
    }
}